# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
eggs/
tmp/
.idea/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Environment
.env
.venv
venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Project specific
logs/
temp/